@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --margin-s: 1rem;
  --margin-m: 2rem;
  --margin-l: 2.5rem;
  --margin-xl: 3rem;

  --padding-s: 1rem;
  --padding-m: 2rem;
  --padding-l: 2.5rem;
  --padding-xl: 3rem;

  --primary-color: rgb(34, 34, 34);
  --secondary-color: white;
  --third-color: rgb(165, 142, 247);

  --primary-transition: ease 0.3s;

  --primary-font-size: 1.1rem;

  --primary-background: rgba(165, 142, 247, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#app {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-s);
  background: var(--primary-color); 
}

.logo {
  width: 4rem;
}

.input-wrapper {
  width: 55vw;
}

.input {
  width: 50vw;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: transparent;
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
}

.input:focus {
  border-bottom: 2px solid var(--third-color);
}

.icon {
  padding: var(--padding-s);
  color: var(--secondary-color);
  font-size: var(--main-font-size);
}

.icon:hover {
  color: var(--third-color);
}


.nav-link {
  padding: var(--padding-s);
  color: var(--secondary-color);
  transition: var(--primary-transition);
  font-size: var(--primary-font-size);
}

.nav-link:last-child {
  /* padding-right: 0; */
}

.icon:hover,
.nav-link:hover {
  color: var(--third-color);
  background: var(--primary-background);
  transform: scale(1.1); 
}