$primary-bg : darkmagenta;
$secondary-bg : fuchsia;
$third-bg : darkorchid;

$primary-color : aliceblue;
$secondary-color : lightcoral;
$third-color : violet;

$gap-xl: 3rem;
$gap-x: 2rem;
$gap-l: 1.8rem;
$gap-m: 1rem;
$gap-s: .8rem;

$fs-xl: 3rem;
$fs-x: 2rem;
$fs-l: 1.8rem;
$fs-m: 1rem;
$fs-s: .8rem;

$primary-ff : sans-serif;
$secondary-ff : serif;