* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#app {
  height: 100vh;
  overflow: hidden;
}

.pallette {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(43, 43, 43);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid rgb(145, 145, 145);
  display: flex;
}

.range-wrapper {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.slider {
  width: 100%;
  appearance: none;
  cursor: pointer;
  background: transparent;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background: rgb(22, 22, 22);
  border-radius: 0.1rem;
  height: 1.3rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(145, 145, 145);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 0.1rem;
}

#color {
  background: transparent;
  border: none;
  cursor: pointer;
}

#canvas {
  height: 100%;
  width: 100%;
  cursor: crosshair;
}

#clear {
  font-size: 1.5rem;
  color: rgb(145, 145, 145);
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

#clear:hover {
  color: rgb(212, 212, 212);
}
