.block {
  padding-top: 0;
}

.title,
.subtitle,
.text {
  text-align: center;
}

.title {
  font-size: var(--fourth-font-size);
  font-family: var(--primary-font-family);
}

.subtitle {
  margin-bottom: var(--margin-xl);
}

.subtitle:hover {
  color: var(--primary-color);
}

.contact {
  background: var(--secondary-background);
  border-radius: var(--main-border-radius);
  margin: var(--margin-m) 20%;
  padding: var(--padding-l);
}

.table {
  margin: 0 20%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  text-align: center;
  background: var(--third-background);
  width: 100%;
  border: 2px solid var(--fourth-background);
  padding: var(--padding-s) var(--padding-m);
  border-bottom: 0;
}

.column:nth-child(1) {
  border-right: 0px;
}

.column:hover {
  background: var(--fourth-background);
}

.row:last-child {
  border-bottom: 2px solid var(--fourth-background);
}

.map {
  height: 30vh;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .contact {
    margin: var(--margin-s);
  }

  .table {
    margin: 0;
  }
}
