@font-face {
  font-family: "Bebas Naue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

:root {
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;

  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 1.5rem;
  --padding-xl: 2rem;
  --padding-xxl: 4rem;

  --primary-background: rgb(28, 29, 34);
  --secondary-background: rgb(35, 37, 48);
  --third-background: rgb(38, 42, 61);
  --fourth-background: rgb(40, 46, 77);

  --primary-color: white;
  --secondary-color: rgb(99, 128, 221);
  --third-color: rgb(53, 63, 99);
  --fourth-color: rgb(120, 83, 207);

  --primary-gradient: linear-gradient(
    rgba(108, 27, 184, 0.2),
    rgba(0, 119, 255, 0.2)
  );

  --primary-font-family: "Bebas Naue";
  --secondary-font-family: "Poppins Bold";

  --primary-font-size: 1.5rem;
  --secondary-font-size: 2rem;
  --third-font-size: 1rem;
  --fourth-font-size: 4rem;

  --primary-transition: 0.3s ease-in-out;

  --main-border-radius: 1rem;

  --primary-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.15);
}
