@mixin flexbox($justifyContent, $alignItems, $flexDirection) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin gridbox($gap, $columns) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin fontOptions($fontFamily, $fontSize, $fontColor) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $fontColor;
}

@mixin sizing($height, $width) {
  height: $height;
  width: $width;
}
