@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf);
}

$roboto-ff: "Roboto";

$font-size-m: 1.3rem;

$primary-text-color: rgb(255, 255, 255);

$primary-bg-color: rgb(41, 41, 41);
$secondary-bg-color: rgb(56, 56, 56);
$third-bg-color: rgb(196, 78, 0);
$fourth-bg-color: rgb(80, 80, 80);
$fifth-bg-color: rgb(236, 106, 0);

$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;

$padding-s: 0.5rem;
$padding-m: 1.2rem;
$padding-l: 1.5rem;

$primary-border-radius: 1rem;

$primary-height: 3.5rem;
$secondary-height: 4.5rem;

$primary-transition: 0.2s ease-in-out;
