@import "./variables.scss";
@import "./mixins.scss";

@media (max-width: 1200px) {
  .heading {
    .header {
      &-wrapper {
        padding: $padding-xl $padding-4xl;
      }
    }

    .content {
      padding: 0 $padding-4xl;
    }
  }

  .section {
    padding: $padding-4xl;
  }

  .tables {
    padding: 0;
    padding-left: $padding-4xl;
  }
}

@media (max-width: 1000px) {
  .heading {
    .header {
      &-wrapper {
        padding: $padding-xl;
      }
    }

    .content {
      padding: 0 $padding-xl;
    }
  }

  .section {
    padding: $padding-4xl $padding-xl;
  }

  .tables {
    @include flexbox(start, start, column);
    padding: 0;

    .content {
      padding: $padding-4xl $padding-xl;
    }

    &__img {
      @include sizing(100%, 100%);
    }
  }

  .products {
    @include grid($margin-l, 2);
  }
}

@media (max-width: 800px) {
  .heading {
    .header {
      .nav {
        @include visibility(hidden, none);
      }

      .icons {
        @include visibility(hidden, none);
      }

      .hidden {
        @include visibility(visible, flex);
      }
    }
  }

  .about {
    .content {
      @include sizing(100%, 100%);
    }
  }

  .tables {
    padding: 0;
  }
}

@media (max-width: 560px) {
  .heading {
    .header {
      &-wrapper {
        padding: $padding-xl $padding-m;
      }
    }

    .content {
      padding: 0 $padding-m;
    }
  }

  .section {
    padding: $padding-4xl $padding-m;
  }

  .tables {
    padding: 0;
  }
}
