@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  @include fontOptions(
    $montserrat-ff,
    $font-size-m,
    $secondary-text-color,
    $font-weight-regular,
    $primary-text-transform
  );
  background: $primary-bg-color;
  padding: $padding-m $padding-3xl;
  border: none;
  outline: none;
}

.heading {
  @include sizing(100vh, 100%);
  @include bgImage("/images/heading.jpg", cover, right);

  .header {
    @include flexbox(space-between, center, row);
    padding: $padding-xl;
    background: $primary-bg-color;

    &-wrapper {
      padding: $padding-xl $padding-5xl;
    }

    .logo {
      @include fontOptions(
        $montserrat-ff,
        $font-size-l,
        $secondary-text-color,
        $font-weight-bold,
        $primary-text-transform
      );
    }

    .nav {
      @include flexbox(space-between, center, row);
      @include sizing(auto, 40%);

      &__link {
        @include fontOptions(
          $montserrat-ff,
          $font-size-s,
          $secondary-text-color,
          $font-weight-regular,
          $primary-text-transform
        );
      }
    }

    .icons {
      .icon {
        @include sizing(23px, 23px);
        margin-left: $margin-xl;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .hidden {
      @include flexbox(center, center, column);
      @include visibility(hidden, none);

      &__line {
        @include sizing(2px, 18px);
        margin-top: $margin-xs;
        background: $secondary-text-color;
      }

      &__line:first-child {
        margin-top: 0;
      }
    }
  }

  .content {
    @include flexbox(center, start, column);
    @include sizing(70%, 100%);
    padding: 0 $padding-5xl;

    .title {
      @include fontOptions(
        $montserrat-ff,
        $font-size-2xl,
        $secondary-text-color,
        $font-weight-bold,
        $primary-text-transform
      );
    }

    .button-wrapper {
      margin-top: $margin-5xl;
    }
  }
}

.section {
  padding: $padding-4xl $padding-5xl;
  background: $secondary-bg-color;

  .title {
    @include fontOptions(
      $montserrat-ff,
      $font-size-l,
      $primary-text-color,
      $font-weight-regular,
      $primary-text-transform
    );
  }

  .content {
    margin-top: $margin-xl;
  }
}

.about {
  .content {
    @include sizing(100%, 70%);

    .text {
      @include fontOptions(
        $open-sans-ff,
        $font-size-s,
        $primary-text-color,
        $font-weight-regular,
        none
      );
      margin-top: $margin-m;
      line-height: 22px;

      &:first-child {
        margin-top: 0;
      }
    }

    .button-wrapper {
      margin-top: $margin-2xl;
    }
  }
}

.tables {
  @include flexbox(space-between, center, row);
  background: $primary-bg-color;
  padding: 0;
  padding-left: $padding-5xl;

  .content {
    margin-top: 0;

    .title {
      @include fontOptions(
        $montserrat-ff,
        $font-size-l,
        $secondary-text-color,
        $font-weight-regular,
        $primary-text-transform
      );
    }

    .decor {
      &__item {
        @include fontOptions(
          $montserrat-ff,
          $font-size-s,
          $third-text-color,
          $font-weight-regular,
          $primary-text-transform
        );
        margin-top: $margin-xl;
      }
    }
  }

  &__img {
    @include sizing(100%, 65%);
  }
}

.products {
  @include grid($margin-l, 4);

  .product {
    &__img {
      @include sizing(auto, 100%);
    }

    &__name {
      @include fontOptions(
        $montserrat-ff,
        $font-size-s,
        $primary-text-color,
        $font-weight-regular,
        $primary-text-transform
      );
      margin-top: $margin-s;
    }

    &__footer {
      @include flexbox(space-between, center, row);
      margin-top: $margin-s;

      .price {
        @include fontOptions(
          $montserrat-ff,
          $font-size-s,
          $primary-text-color,
          $font-weight-regular,
          $primary-text-transform
        );
      }
    }

    .add {
      padding: $padding-s - 3px;
      background: $primary-bg-color;
      border: none;
      outline: none;

      .icon {
        font-size: 17px;
        color: $secondary-text-color;
      }
    }
  }
}

.sale {
  @include flexbox(space-between, start, row);
  background: $primary-bg-color;
  padding: 0 $padding-5xl;

  .content,
  &__img {
    position: relative;
    top: $margin-2xl;
  }
  
  &__img {
    @include sizing(515px, auto);
  }

  .content {
    margin-right: $margin-2xl;

    .title {
      @include fontOptions(
        $montserrat-ff,
        $font-size-xl,
        $secondary-text-color,
        $font-weight-regular,
        $primary-text-transform
      );
    }

    .subtitle {
      @include fontOptions(
        $open-sans-ff,
        $font-size-s,
        $secondary-text-color,
        $font-weight-regular,
        none
      );
      margin-top: $margin-xl;
    }

    .subscribe {
      @include fontOptions(
        $open-sans-ff,
        $font-size-s,
        $secondary-text-color,
        $font-weight-regular,
        none
      );
      @include sizing(100%, 100%);
      background: transparent;
      border: 2px solid $fourth-text-color;
      outline: none;
      padding: $padding-m;
      margin-right: $margin-l;

      &::placeholder {
        @include fontOptions(
          $open-sans-ff,
          $font-size-s,
          $fourth-text-color,
          $font-weight-regular,
          none
        );
      }

      &-wrapper {
        margin-top: $margin-xl;
        @include flexbox(space-between, center, row);
      }

      &__button {
        @include fontOptions(
          $montserrat-ff,
          $font-size-s,
          $secondary-text-color,
          $font-weight-regular,
          $primary-text-transform
        );
        padding: $padding-m $padding-3xl;
        border: 2px solid $secondary-text-color;
        outline: none;
        background: transparent;
      }
    }

    .checkbox {
      @include sizing(25px, 23px);
      padding: 4.5px 2.5px;
      border: 1px solid $secondary-bg-color;
      margin-right: $margin-s;

      &-wrapper {
        @include flexbox(start, center, row);
        margin-top: $margin-m;
      }

      &__label {
        @include fontOptions(
          $open-sans-ff,
          $font-size-s,
          $secondary-text-color,
          $font-weight-regular,
          none
        );
      }
    }
  }
}
