@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading {
  @include sizing(100vh, 100%);
  @include bgImage("/images/heading.jpg", cover, right);
}
