@font-face {
    font-family: "Open Sans";
    src: url("../public/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

// font-family
$open-sans-ff: "Open Sans";
$montserrat-ff: "Montserrat";

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 500;

//text-transform
$primary-text-transform: uppercase;

// background
$primary-bg-color: #222222;
$secondary-bg-color: #FFFFFF;
$third-bg-color: #B4B4B4;

// color
$primary-text-color: #222222;
$secondary-text-color: #FFFFFF;
$third-text-color: #B4B4B4;

// font-size
$font-size-2xl: 60px; 
$font-size-xl: 50px; 
$font-size-l: 30px;
$font-size-m: 18px; 
$font-size-s: 16px;

// padding
$padding-5xl: 170px;
$padding-4xl: 100px;
$padding-3xl: 80px;
$padding-2xl: 60px;
$padding-xl: 40px;
$padding-l: 30px;
$padding-m: 20px;
$padding-s: 10px;
$padding-xs: 5px;

// margin
$margin-5xl: 170px;
$margin-4xl: 100px;
$margin-3xl: 80px;
$margin-2xl: 60px;
$margin-xl: 40px;
$margin-l: 30px;
$margin-m: 20px;
$margin-s: 10px;
$margin-xs: 5px;
