@import "./variables.css";

@font-face {
  font-family: "primary";
  src: url(../public/fonts/Gotham-Thin.ttf);
}

@font-face {
  font-family: "primary-light";
  src: url(../public/fonts/Gotham-Light.ttf);
}

@font-face {
  font-family: "title";
  src: url(../public/fonts/BebasNeue-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  font-family: primary-light;
  background: var(--primary-bg);
  border: var(--primary-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  padding: var(--padding-m);
}

.nav__link:hover {
  background: var(--secondary-bg);
  border-radius: var(--primary-border-radius);
  transition: var(--primary-transition);
  animation: simple-animation var(--secondary-transition);
  animation-iteration-count: 1;
}

.logo {
  width: 5rem;
}

.logo:hover {
  transition: var(--primary-transition);
  animation: simple-animation var(--secondary-transition);
  animation-iteration-count: 1;
}

.button {
  background: var(--secondary-bg);
  color: var(--fourth-color);
  padding: var(--padding-m) var(--padding-xl);
  border-radius: var(--primary-border-radius);
  border: none;
  font-size: var(--secondary-font-size);
}

.button:hover {
  background: var(--third-bg);
  color: var(--third-color);
  transition: var(--primary-transition);
  animation: simple-animation var(--secondary-transition);
  animation-iteration-count: 1;
}

.main {
  font-family: primary;
  background: var(--primary-bg);
}

.block {
  padding-top: var(--padding-xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--margin-xxl);
}

.block:last-child {
  padding-bottom: var(--padding-xxl);
}

.head__block {
  border-bottom: var(--secondary-border);
  margin: 0;
}

.head__img {
  height: 50vw;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.right {
  transform: scale(-1, 1);
}

.title {
  text-align: center;
  font-family: title;
  font-size: 7rem;
  color: var(--secondary-color);
}

.block__text {
  width: 40%;
}

.block__title {
  font-family: title;
  font-size: 4rem;
}

.text {
  margin-top: var(--margin-xl);
  font-weight: var(--primary-font-weight);
}

.block__photo {
  width: 40vw;
}

.footer {
  background: var(--primary-color);
  padding: var(--padding-xl) var(--padding-xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: var(--padding-s);
}

.link:last-child {
  padding-right: 0;
}

.network {
  color: var(--third-color);
}

.network:hover {
  color: var(--secondary-color);
  transition: var(--primary-transition);
  animation: simple-animation var(--secondary-transition);
  animation-iteration-count: 1;
}

@keyframes simple-animation {
  20% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(-1px);
  }
  60% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {
  .block {
    flex-direction: column;
    margin: 0 var(--margin-l);
  }

  .head__block {
    flex-direction: row;
    margin: 0;
  }

  .head__img {
    height: 50vw;
    align-self: flex-end;
  }

  .block__text {
    width: 100%;
  }

  .block__photo {
    width: 80%;
  }

  .block__text {
    margin-top: var(--margin-xxl);
  }

  .hidden {
    display: block;
  }

  .shown {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 700px) {
  .header,
  .footer {
    padding: var(--padding-l) var(--padding-s);
    font-size: var(--secondary-font-size);
  }

  .nav {
    width: auto;
  }

  .button {
    padding: var(--padding-m) var(--padding-l);
  }

  .title {
    font-size: 4rem;
  }
}
