.error {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: "Satisfy", cursive;
  font-size: 70px;
  padding: 1rem;
}

.error > h3 {
  margin-bottom: 6rem;
}
