*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 20%;
  width: 100vw;
}

.task {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 1rem;
}

.task-info,
.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
}

.task-footer {
  background-color: rgb(238, 238, 238);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.line {
  text-decoration: line-through;
}
