@import "./variables.scss";
@import "./mixins.scss";

@media (max-width: 1000px) {
  .heading {
    .header {
      padding: $padding-xl $padding-xl 0 $padding-xl;

      .nav {
        @include visibility(hidden, none);
      }

      .hidden {
        @include visibility(visible, flex);
      }
    }

    &__text {
      padding: 0 $padding-xl;
    }
  }

  .video {
    @include sizing(465px, 100%);

    &__icon {
      @include sizing(50px, 50px);
    }
  }
}

@media (max-width: 800px) {
  .heading {
    &__title {
      @include fontOptions($kaiseiOpti-ff, $font-size-3xl, $primary-text-color);
    }

    &__subtitle {
      @include fontOptions($assistant-ff, $font-size-xs, $primary-text-color);
    }
  }

  .video {
    @include sizing(265px, 100%);

    &__icon {
      @include sizing(30px, 30px);
    }
  }
}

@media (max-width: 600px) {
  .heading {
    @include sizing(690px, 100%);

    .header {
      .logo {
        @include fontOptions($inter-ff, $font-size-s, $primary-text-color);
      }
    }

    &__title {
      @include fontOptions($kaiseiOpti-ff, $font-size-2xl, $primary-text-color);
    }

    &__subtitle {
      @include fontOptions($assistant-ff, $font-size-2xs, $primary-text-color);
      margin-top: $margin-xs;
    }
  }

  .video {
    @include sizing(165px, 100%);

    &__icon {
      @include sizing(20px, 20px);
    }
  }
}
