@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  background: $primary-bg-color;
}

.heading {
  @include sizing(890px, 100%);
  @include bgImage("../public/images/background-1.png", cover);

  .header {
    @include flexbox(space-between, center, row);
    padding: $padding-xl $padding-5xl 0 $padding-5xl;

    .logo {
      @include fontOptions($inter-ff, $font-size-l, $primary-text-color);
    }

    .nav {
      &__link {
        @include fontOptions($kaiseiOpti-ff, $font-size-s, $primary-text-color);
        padding: 0 $padding-l;
      }

      &__link:last-child {
        padding-right: 0;
      }
    }

    .hidden {
      @include flexbox(center, center, column);
      @include visibility(hidden, none);

      &__line {
        @include sizing(2px, 18px);
        margin-top: 3px;
      }

      &__line:first-child {
        margin-top: 0;
      }
    }
  }

  &__text {
    @include flexbox(center, start, column);
    @include sizing(75%, 100%);
    padding: 0 $padding-5xl;
  }

  &__title {
    @include fontOptions($kaiseiOpti-ff, $font-size-4xl, $primary-text-color);
  }

  &__subtitle {
    @include fontOptions($assistant-ff, $font-size-s, $primary-text-color);
    margin-top: $margin-m;
  }
}

.video {
  @include bgImage("../public/images/background-2.png", cover);
  @include sizing(600px, 100%);

  &__icon {
    @include sizing(60px, 60px);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.section {
  padding: $padding-4xl $padding-5xl 0 $padding-5xl;

  .title {
    @include fontOptions($kaiseiOpti-ff, $font-size-3xl, $primary-text-color);
  }

  .content {
    padding-top: $padding-2xl;
  }
}

.about {
  .text {
    @include fontOptions($assistant-ff, $font-size-s, $secondary-text-color);
    @include sizing(100%, 55%);
    line-height: 23.54px;
    margin-top: $margin-m;
  }

  .text:first-child {
    margin-top: 0;
  }

  .img {
    @include sizing(auto, 100%);
    margin-top: $margin-2xl;
  }
}

.directions {
  .direction {
    margin-top: $margin-2xl;

    &__title {
      @include fontOptions($assistant-ff, $font-size-xl, $primary-text-color);
    }

    &__content {
      @include flexbox(space-between, center, row);
      margin-top: $margin-m;
    }

    &__description {
      @include fontOptions($assistant-ff, $font-size-s, $secondary-text-color);
      @include sizing(auto, 60%);
    }

    &__img {
      @include sizing(auto, 260px);
    }
  }

  .direction:first-child {
    margin-top: 0;
  }
}

.centred {
  text-align: center;
}

.trainers {
  @include gridbox(80px, 3);

  .trainer {
    @include flexbox(center, center, column);

    &__img {
      @include sizing(100%, 100%);
    }

    &__name {
      @include fontOptions($assistant-ff, $font-size-xl, $primary-text-color);
      margin-top: $margin-m;
    }
  }
}

.arrow {
  @include flexbox(end, center, row);
  padding: $padding-2xl $padding-5xl 0 $padding-5xl;

  &__text {
    @include fontOptions($assistant-ff, $font-size-s, $primary-text-color);
    margin-right: $margin-xs;
  }

  &__img {
    @include sizing(auto, 30px);
  }
}
