* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product__img,
.wrapper {
  width: 50%;
  margin: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product__count,
.count-wrapper {
  width: 100%;
}

.count-wrapper {
  margin: 1rem 0;
}

.count-wrapper {
  display: flex;
  align-items: center;
}

.product__count {
  appearance: none;
  cursor: pointer;
  background: transparent;
}

.product__count:focus {
  outline: none;
}

.product__count::-webkit-slider-runnable-track {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  height: 1.5rem;
}

.product__count::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #b7f1af;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.5rem;
}

.product__btn {
  box-shadow: none;
  font-weight: 600;
  background: #b7f1af;
}

.product__btn:hover {
  background: #a5e69d;
}

.product__btn:active {
  background: #85e678;
}
