:root {
    /* background */
    --primary-bg : #2e2e2e;
    --secondary-bg : white;
    --third-bg : rgba(0, 0, 0, 0.3);
    --fourth-bg : rgba(209, 209, 209, 0.3);
    --bg-gradient : linear-gradient(rgb(222, 198, 245) , rgb(171, 175, 233));

    /* text-color */
    --primary-color : rgb(255, 255, 255) ;
    --secondary-color : rgb(34, 34, 34) ;
    --third-color : rgb(100, 100, 100) ;

    /* font size */
    --font-size-xl : 3rem;
    --font-size-l : 2rem;
    --font-size-m : 1rem;
    --font-size-s : .5rem;

    /* padding */
    --padding-xl : 3rem;
    --padding-l : 2rem;
    --padding-m : 1rem;
    --padding-s : .5rem;

    /* margin */
    --margin-xl : 3rem;
    --margin-l : 2rem;
    --margin-m : 1rem;
    --margin-s : .5rem;

    /* box-shadow */
    --box-shadow-xl : 5px 5px 8px 3px darkmagenta;
    --box-shadow-l :  3px 3px 5px 1.5px darkmagenta;
    --box-shadow-m :  1px 1px 2px .5px darkmagenta;

    /* font-family */
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

}