@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

#app {
  font-family: var(--primary-ff);
  color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-bg);
  padding: var(--padding-m);
  width: 100%;
  color: var(--secondary-color);
  font-size: var(--font-size-l);
}

.logo {
  width: 4rem;
}

.nav {
  display: flex;
}

.nav-link {
  transition: var(--primary-transition);
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--primary-border-radius);
}

.nav-link:hover {
  background: var(--secondary-bg);
}

.line {
  border-left: 1px solid var(--secondary-color);
  margin: 0 var(--margin-m);
}

.icon {
  font-size: var(--font-size-xl);
}

.banner {
  text-align: center;
  background: var(--primary-gradient-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-m);
  margin-top: var(--margin-s);
  color: var(--secondary-color);
}

.first {
  margin-top: calc(101px + var(--margin-s));
}

.banner__img {
  height: 4rem;
  margin-left: var(--margin-l);
}

.sticky {
  position: sticky;
  top: 101px;
  justify-content: center;
}

.main {
  height: 110vh;
}

.footer {
  background: var(--primary-bg);
  padding: var(--padding-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}

.text {
  margin-left: var(--margin-m);
}

.footer-column {
  display: flex;
  align-items: center;
}

.network {
  padding: var(--padding-s);
  font-size: 2rem;
  transition: var(--primary-transition);
  border-radius: var(--primary-border-radius);
  margin-left: var(--margin-s);
}

.network:hover {
  background: var(--secondary-bg);
}
