.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid rgb(49, 49, 49);
  padding-bottom: 0.5rem;
}

.task:last-child {
  border-bottom: none;
}

.task > .title {
  width: 100%;
  text-align: start;
}
