@font-face {
    font-family: "Monserat";
    src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
    /* * Background-colors */
    --primary-bg : darkmagenta;
    --secondary-bg : darkblue ;
    --third-bg: rgb(36, 36, 36);
    --light-bg: rgb(233, 233, 233);
    --attention-bg : darkorchid ;
    --accent-bg : fuchsia ;
    
    /* * Colors */
    --primary-color : aliceblue ;
    --secondary-color : fuchsia ;
    --attention-color : #232323 ;
    
    /* * Margin */
    --margin-xl : 3rem ;
    --margin-l : 2rem ;
    --margin-m : 1.4rem ;
    --margin-s : 1rem ;
    --margin-xs : .8rem ;
    
    /* * Padding */
    --padding-xl : 3rem ;
    --padding-l : 2rem ;
    --padding-m : 1.4rem ;
    --padding-s : 1rem ;
    --padding-xs : .8rem ;
    
    /* * box-shadow */
    --box-shadow-l : 5px 8px 5px ;
    --box-shadow-m : 2px 4px 2px ;
    --box-shadow-s : 1px 3px 1px ;
    
    /* * Font-size */
    --font-size-xl : 3rem ;
    --font-size-l : 2rem ;
    --font-size-m : 1.4rem ;
    --font-size-s : 1rem ;
    --font-size-xs : .8rem ;

    /* * Font-family */
    --primary-font-family : Monserat ;
    --secondary-font-family : sans-serif ;

}