<p>
  <mat-toolbar color="accent">
    <section>
      <button mat-icon-button (click)="setVisibility()">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-accordion
        [style]="
          isVisibleExpansionPanel
            ? 'display:flex; flex-direction:column;'
            : 'display:none'
        "
      >
        <mat-expansion-panel
          *ngFor="let routerLink of getRouterLinks()"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ routerLink.label }}
            </mat-panel-title>

            <mat-panel-description>
              {{ routerLink.info }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button
            disabled="{{ routerLink.disabled }}"
            mat-raised-button
            color="accent"
            (click)="setVisibility()"
            [routerLink]="routerLink.href"
          >
            {{ routerLink.label }}
          </button>
        </mat-expansion-panel>
      </mat-accordion>

      <span>My App</span>
    </section>

    <section>
      <a *ngIf="getAuth().label === 'Login'" [routerLink]="getAuth().href">
        {{ getAuth().label }}
      </a>

      <a *ngIf="getAuth().label !== 'Login'" (click)="logout()">
        {{ getAuth().label }}
      </a>
    </section>
  </mat-toolbar>
</p>
