.comparison {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
  width: 95%;
  gap: 4rem;
}

.column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}

.comparison > .column > .image {
  width: 90%;
  margin-bottom: 4rem;
}
