.products {
  width: 49vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 100vh;
}

.product {
  width: 40%;
  padding: 1rem;
  color: white;
  background-color: rgb(92, 92, 92);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new {
  color: rgb(248, 86, 86);
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.old {
  text-decoration: line-through;
  font-size: smaller;
  color: rgb(155, 155, 155);
}
