.block__img {
    padding: 0 30%;
    width: 100%;
}

.image-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/images/main-img.jpg");
    height: 50vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-family: var(--primary-font-family);
  }
  
  .title {
    font-size: var(--fourth-font-size);
  }