.form {
  background: var(--secondary-background);
  border-radius: var(--main-border-radius);
  margin: 0 30%;
  padding: var(--padding-xxl);
}

.title {
  margin: var(--margin-l) 0;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: var(--fourth-font-size);
}

.button-wrapper {
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.button,
.input {
  font-family: var(--secondary-font-family);
  font-size: var(--third-font-size);
  color: var(--primary-color);
  transition: var(--primary-transition);
  border: none;
  outline: none;
}

.button {
  background: var(--third-background);
  border-radius: var(--main-border-radius);
  margin-top: var(--margin-l);
  padding: var(--padding-m) var(--padding-xl);
}

.button:hover {
  background: var(--primary-gradient);
  box-shadow: var(--primary-box-shadow);
}

.button__facebook,
.button__google {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1.3rem;
  margin-right: var(--padding-s);
}

hr {
  margin: var(--margin-xl) 0;
  border: none;
  outline: none;
  border-top: 2px dotted var(--third-color);
}

.input {
  background: transparent;
  width: 100%;
  border-bottom: 2px solid var(--third-color);
  padding: var(--padding-s) 0;
  margin-bottom: 1rem;
}

.input:focus {
  border-bottom: 2px solid var(--secondary-color);
}

.register {
  color: var(--secondary-color);
  transition: var(--primary-transition);
}

.register:hover {
  color: var(--fourth-color);
}

.subtitle {
  text-align: center;
  margin-top: var(--margin-l);
}

.subtitle:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1400px) {
  .form {
    margin: 0 20%;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    margin: 0 10%;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin: 0 var(--margin-m);
  }

  .buttons-wrapper {
    flex-direction: column;
  }

  .button__facebook,
  .button__google {
    width: 100%;
  }
}
