@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#app {
  background: var(--primary-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl);
  color: var(--primary-color);
}

.logo-wrapper {
}

.logo {
  height: 3rem;
}

/* .input {
  font-size: var(--third-font-size);
  font-family: var(--secondary-font-family);
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-color);
} */

.nav {
}

.nav-link {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  color: inherit;
  border-radius: 1rem;
  padding: var(--margin-m);
  transition: var(--primary-transition);
}

.nav-link:hover {
  background: var(--primary-gradient);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.15);
}

p {
  font-family: var(--secondary-font-family);
  font-size: var(--secondary-font-size);
  color: white;
}

@media screen and (max-width: 800px) {
  .header {
    padding: var(--padding-m);
  }
}
