@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#app {
  background: var(--primary-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl);
  color: var(--primary-color);
}

.logo-wrapper {
}

.logo {
  height: 3rem;
}

/* .input {
  font-size: var(--third-font-size);
  font-family: var(--secondary-font-family);
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-color);
} */

.nav {
}

.nav-link {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}

.link:hover,
.nav-link:hover {
  background: var(--primary-gradient);
  box-shadow: var(--primary-box-shadow);
}

.main {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
}

.block {
  padding: var(--padding-xl);
}

.head-block {
  background: var(--secondary-background);
}

.block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var(--secondary-font-size);
}

.films-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.film {
  width: 15%;
  margin-right: var(--margin-s);
  margin-top: var(--margin-m);
  transition: var(--primary-transition);
}

.film:hover {
  box-shadow: var(--primary-box-shadow);
}

.head-block > .films-block > .film {
  background: var(--third-background);
}

.film__img {
  width: 100%;
}

.film__grades {
  display: flex;
  justify-content: space-evenly;
}

.like {
  color: rgb(42, 141, 55);
}

.dislike {
  color: rgb(163, 42, 42);
}

.like,
.dislike {
  padding: var(--padding-m) 0;
  width: 50%;
  text-align: center;
}

.like:hover,
.dislike:hover {
  background: var(--fourth-background);
}

.subtitle {
  text-align: center;
  margin: var(--margin-m);
}

.subtitle:hover {
  color: var(--secondary-color);
}

.nav-link,
.link {
  color: inherit;
  padding: var(--margin-m);
  border-radius: var(--main-border-radius);
  transition: var(--primary-transition);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl);
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
}

.icon {
  color: var(--primary-color);
  transition: var(--primary-transition);
}

.icon:hover {
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .header,
  .block,
  .footer {
    padding: var(--padding-m);
  }

  .film {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
  }

  .footer__column {
    margin: var(--margin-m) 0;
  }
}
