@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color : inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}
/* 
table , tr , td {
    border: 1px solid black;
} */

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-color);
    font-family: var(--ff-secondary);
}

.logo {
    width: 3rem;
}

.header {
    display: flex;
    padding: var(--padding-l);
    justify-content: space-between;
    align-items: center;
    background: var(--primary-bg);
}

.header__input {
    background: inherit;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    color: inherit;
    width: 15rem;
    padding: var(--padding-s);
}

.header__items {
    display: flex;
}

.header__item {
    padding: 0 var(--padding-l);
}

.header__item {
    transform: scale(1);
    transform: rotate(10deg);
    transition: 400ms ease;
}

.header__item:hover {
    transform: rotate(50deg);
    transform: scale(.8);
}

.main-content {
    display: flex;
    height: 100%;
}

.sidebar {
    background: var(--bg-gradient);
}

.title {
    font-family: var(--ff-primary);
}

.product__title {
    padding: var(--padding-l);
    padding-bottom: 0;
    color: var(--secondary-color);
}

.product__img {
    width: 20rem;
    padding: var(--padding-l);
    padding-bottom: 0;
}

.product__description {
    padding: var(--padding-l);
    padding-bottom: var(--padding-m);
}

.product__row {
    display: flex;
    justify-content: space-between;
}

.product__column {
    background: var(--third-bg);
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: var(--padding-s) var(--padding-m);
}

.product__column:nth-child(1) {
    border-right: 0px;
}

.product__btn-wrapper {
    display: flex;
    justify-content: center;
    padding: var(--padding-m);
}

.product__btn {
    padding: var(--padding-s) 3rem;
    font-family: var(--ff-primary);
    border-radius: 2rem;
    border: none;
    background: var(--primary-bg);
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    transition: 300ms ease;
} 

.product__btn:hover {
    box-shadow: var( --box-shadow-m );
}

.main__product__column,
.product__column{
    border-bottom: 0;
}

.product__row:last-child {
    border-bottom: 2px solid var(--primary-color);
}

.main {
    background: var(--secondary-bg);
    color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main__title {
    padding: var(--padding-l);
    width: 100%;
    text-align: center;
}

.main__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main__product__title {
    padding: var(--padding-m);
    padding-left: 0;
}

.title {
    font-size: var(--font-size-m);
    font-weight: 700;
}

.main__product__description {
    width: 90%;
}

.main__product__row {
    display: flex;
    justify-content: space-between;
}

.main__product__column {
    background: var(--third-bg);
    width: 100%;
    border: 2px solid var(--secondary-color);
    padding: var(--padding-s) var(--padding-m);
}

.main__product__column:nth-child(1) {
    border-right: 0px;
}

.main__product__column {
    border-bottom: 0px;
}

.main__product__row:last-child {
    border-bottom: 2px solid var(--secondary-color);
}

.main__product__btn-wrapper {
    padding: var(--padding-l);
    margin-top: var(--margin-xl);
}

.footer {
    display: flex;
    justify-content: center;
    background: var(--primary-bg);
    padding: var(--padding-l);
}