* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

hr {
  width: 100%;
}

div {
  padding: 10px;
}

textarea {
  width: 70%;
  height: 200px;
}

textarea,
input,
button,
hr {
  margin: 10px 0;
}

textarea,
input,
button {
  margin: 10px;
  padding: 10px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
