* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-text {
    text-align: center;
    background-color: rgb(97, 156, 168);
    color: white;
    padding: 20px 0;
}

.content {
    padding: 10px 20% 10px 20%;
    background-color:rgb(246, 249, 255);
}

.list-item {
    list-style-type: none;
    padding: 15px;
}

ul {
    margin: 20px;
}

#unique-item {
    font-weight: bold;
}

.footer {
    background-color: rgb(72, 122, 133);
    color: white;
    text-align: center;
    padding: 20px 0;
}

hr {
    margin: 20px;
}

.text {
    margin: 20px 0;
}

.text-wrapper {
    font-style: italic;
    text-align: center;
}
