@font-face {
  font-family: "Rubik";
  src: url(../public/fonts/Rubic/Rubik-Regular.ttf);
}

@font-face {
  font-family: "DeliciousHandrawn";
  src: url(../public/fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf);
}

$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;
$margin-xl: 2rem;
$margin-2xl: 5rem;

$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;
$padding-2xl: 5rem;

$primary-color: #272727;
$secondary-color: #f2edda;
$third-color: #ff7474;
$fourth-color: #51565f;

$primary-text-color: #ffffff;

$primary-font-family: "Rubik";
$secondary-font-family: "DeliciousHandrawn";

$primary-border-radius: 2rem;
$secondary-border-radius: 100%;

$primary-transition: 0.3s ease-in-out;
$secondary-transition: 0.5s ease-in-out;
