<form #form="ngForm" (submit)="authorize(form.value)" class="form">
  <mat-form-field class="field">
    <mat-label>Login</mat-label>
    <input
      name="login"
      ngModel
      matInput
      placeholder="Enter a login..."
      value=""
    />
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>Password</mat-label>
    <input
      name="password"
      ngModel
      matInput
      placeholder="Enter a password..."
      value=""
      type="password"
    />
  </mat-form-field>

  <button mat-flat-button color="primary">Authorize</button>
</form>
