@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

#app {
  font-family: var(--primary-font-family);
  background: var(--primary-background);
  color: var(--primary-color);
}

.header {
  background: var(--secondary-background);
  padding: var(--padding-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
}

.logo:hover {
  transition: var(--primary-transition);
  animation: animation var(--primary-transition);
  animation-iteration-count: 1;
}

.link {
  padding: var(--padding-m);
  font-size: var(--font-size-l);
  font-weight: 600;
  border-radius: var(--primary-border-radius);
}

.button:hover,
.link:hover,
.network:hover {
  background: var(--secondary-color);
  transition: var(--primary-transition);
  animation: animation var(--primary-transition);
  animation-iteration-count: 1;
}

.icon {
  font-size: var(--font-size-xl);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading__column {
  width: 100%;
  padding: var(--padding-xxl);
}

.img {
  width: 100%;
  border-radius: var(--primary-border-radius);
}

.heading__title {
  font-size: var(--font-size-4xl);
}

.heading__subtitle {
  margin: var(--margin-xl) 0;
  font-size: var(--font-size-3xl);
}

.button {
  font-weight: 600;
  color: inherit;
  border: 0;
  outline: 0;
  background: var(--third-color);
  padding: var(--padding-m);
  border-radius: var(--primary-border-radius);
  font-size: var(--font-size-l);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--margin-xxl);
  background: var(--secondary-background);
  padding: var(--padding-m) var(--padding-l);
  color: var(--primary-color);
  border-radius: var(--primary-border-radius);
}

.input {
  width: 100%;
  font-size: var(--font-size-l);
  color: inherit;
  border: 0;
  outline: 0;
  border-bottom: 2px solid var(--fourth-color);
  margin-right: var(--margin-s);
  padding-bottom: 0.3rem;
}

.input:focus {
  border-bottom: 2px solid var(--secondary-color);
}

.search__button {
  background: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xxl);
}

.sidebar {
  padding: var(--padding-m);
  background: var(--secondary-background);
  border-radius: var(--primary-border-radius);
}

.sidebar__title {
  padding: var(--padding-xl) var(--padding-s);
}

.hidden {
  display: none;
  visibility: hidden;
}

.label {
  display: block;
  position: relative;
  padding: 0.2rem 0 0 var(--padding-xl);
  margin: var(--margin-m);
  cursor: pointer;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--third-background);
  border-radius: var(--primary-border-radius);
}

.label:hover .checkbox ~ .mark {
  background: var(--fourth-background);
}

.label .checkbox:checked ~ .mark {
  background: var(--secondary-color);
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.label .checkbox:checked ~ .mark:after {
  display: block;
}

.label .mark:after {
  left: 0.5rem;
  top: 0.25rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid var(--fifth-color);
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

.main {
  width: 100%;
  background: var(--secondary-background);
  border-radius: var(--primary-border-radius);
  margin-left: var(--margin-m);
}

.block {
  padding: var(--padding-m);
}

.block__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-m);
}

.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(auto, auto);
  margin: var(--margin-s);
}

.product {
  position: relative;
  padding: var(--padding-m);
  margin: var(--margin-s);
  box-shadow: 0 4px 8px 0 rgba(78, 78, 78, 0.2);
  border-radius: var(--primary-border-radius);
  transition: var(--primary-transition);
  text-align: center;
}

.product:hover {
  transform: scale(1.05);
}

.product__img {
  width: 100%;
}

.product__text {
  padding: var(--padding-s) 0;
}

.price {
  margin-bottom: 2.7rem;
}

.cart {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.cart:hover {
  animation: none;
}

.footer {
  background: var(--secondary-background);
  padding: var(--padding-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.network:hover {
  color: var(--secondary-color);
  background: transparent;
}

@keyframes animation {
  10% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .right {
    display: none;
    visibility: hidden;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .header,
  .footer {
    padding: var(--padding-m);
  }

  .logo {
    width: 8rem;
  }

  .link {
    padding: var(--padding-m) var(--padding-s);
    font-size: var(--font-size-m);
  }

  .icon {
    font-size: var(--font-size-l);
  }

  .heading__column {
    padding: var(--padding-xxl) var(--padding-l);
  }

  .search {
    margin: var(--margin-l);
    padding: var(--padding-m);
  }

  .input {
    font-size: var(--font-size-m);
  }

  .content {
    padding: var(--padding-xxl) var(--padding-l);
    flex-direction: column;
  }

  .sidebar {
    display: none;
    visibility: hidden;
  }

  .hidden {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    margin: var(--margin-m) 0;
  }

  .block {
    padding: 0;
  }

  .footer {
    flex-direction: column;
  }

  .footer__text {
    padding: var(--padding-l) 0;
  }
}
