.header {
  box-sizing: border-box;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
}

.title {
  margin: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}
