@import "./variables.css";

@font-face {
<<<<<<< HEAD
  font-family: "primary";
  src: url(../public/fonts/Gotham-Thin.ttf);
}

@font-face {
  font-family: "primary-light";
  src: url(../public/fonts/Gotham-Light.ttf);
}

@font-face {
  font-family: "title";
  src: url(../public/fonts/BebasNeue-Regular.ttf);
=======
  font-family: "Osward";
  src: url(../public/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(../public/fonts/Lobster-Regular.ttf);
>>>>>>> develop
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

<<<<<<< HEAD
.header {
  font-family: primary-light;
  background: var(--primary-bg);
  border: var(--primary-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 5rem;
}

.button {
  background: #e9dffc;
  color: #784dc7;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  border: none;
}

.main {
  font-family: primary;
  background: var(--primary-bg);
}

.block {
  padding: var(--padding-xxl) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__block {
border-bottom: var(--primary-border);
}

.head__img {
  height: 90vh;
}

.right {
  transform: scale(-1, 1);
}

.title {
  text-align: center;
  font-family: title;
  font-size: 7rem;
  color: var(--secondary-color);
}

.block__info {
    margin: 0 var(--margin-xxl);
}

.block__text {
width: 40%;
}

.block__title {
    font-family: title;
    font-size: 4rem;
}

.text {
    margin-top: var(--margin-xl);
    font-weight: 800;
}

.block__photo {
    width: 40rem;
}
=======
#app {
  font-family: var(--primary-font-family);
  background: var(--primary-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-l);
  font-size: var(--primary-font-size);
}

.logo {
  width: 9rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: var(--padding-m);
  border-radius: var(--primary-border-radius);
  border: 2px dashed var(--fifth-color);
  transition: var(--primary-transition);
}

.nav__link:hover,
.button:hover {
  background: var(--secondary-transparent-color);
  border: 2px dashed var(--third-color);
}

i.nav__link {
  padding: 1.3rem;
}

.line {
  border-right: 2px solid var(--primary-color);
  height: 2rem;
  margin: 0 var(--margin-m);
}

.icon {
  color: var(--primary-color);
}

.head__block {
  background-image: linear-gradient(rgba(27, 15, 15, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/img/images/main.jpg");
  width: 100%;
  height: 70vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
  color: var(--fifth-color);
}

.title {
  font-size: 5rem;
  font-family: var(--secondary-font-family);
  font-weight: 100;
  padding: var(--padding-l);
}

.button {
  border: none;
  outline: none;
  padding: var(--margin-m) var(--margin-xl);
  border-radius: var(--primary-border-radius);
  font-family: var(--primary-font-family);
  font-size: var(--secondary-font-size);
  background: var(--primary-transparent-color);
  color: inherit;
  border: 2px dashed var(--fifth-color);
  transition: var(--primary-transition);
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 4rem;
  }
}
>>>>>>> develop
