@import "./variables.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  @include flexbox(center, center, column);
  @include sizing(100vh, auto);
  @include fontOptions($roboto-ff, $font-size-m, $primary-text-color);
  background: $primary-bg-color;
}

.input {
  @include sizing($secondary-height, 100%);
  @include fontOptions($roboto-ff, $font-size-m, $primary-text-color);
  border-radius: $primary-border-radius;
  background: $secondary-bg-color;
  border: none;
  padding: 0 $padding-m;

  &-wrapper {
    @include sizing(auto, 25rem);
    padding: $padding-l 0;
    border-bottom: 1px solid $fourth-bg-color;
  }
}

.calculator {
  @include flexbox(space-between, center, row);
  @include sizing(auto, 25rem);
  margin-top: $margin-l;
}

.column {
  @include flexbox(start, start, column);
}

.button {
  @include fontOptions($roboto-ff, $font-size-m, $primary-text-color);
  border-radius: $primary-border-radius;
  background: $secondary-bg-color;
  border: none;
  transition: $primary-transition;
}

.button:hover {
  background: $fourth-bg-color;
}

.clear,
.operation,
.calculate {
  background: $third-bg-color;
  transition: $primary-transition;
}

.clear:hover,
.operation:hover,
.calculate:hover {
  background: $fifth-bg-color;
}

.clear {
  @include sizing($primary-height, 100%);
}

.numbers {
  @include gridbox($margin-m, 3);
  margin-top: $margin-m;

  .number {
    @include sizing($primary-height, 5.5rem);
  }
}

.operations {
  @include gridbox($margin-m, 1);

  .operation,
  .calculate {
    @include sizing($primary-height, 5.5rem);
  }
}
